<div class="row">
  <div class="col-md-8">
      <br />
        <div class="media-left">
          <h2>Welcome to Blocitoff</h2>
          <p>You are about to undergo a life transformation through Blocitoff. Are you excited? You should be.

            <br />Blocitoff is going to change the way you learn, laugh, love, and live.</p>
        </div>
        <p>Username: <%= current_user.username %></p>
        <p>E-Mail Address: <%= current_user.email %></p>
        <% if current_user %>
        <%= render 'items/form', item: Item.new, user: @user %>
        <% end %>
      <div>
        <h3>Activities</h3>
        <% @user.items.each do |item| %>
          <%= render partial: 'items/item', locals: {item: item} %>
        <% end %>
      </div>
  </div>
</div>
