<br>
<div class="jumbotron">
  <h1>Blocitoff</h1>
  <p>A to-do list for the modern man or woman.</p>

</div>

<div class="row">
  <div class="col-md-4">
    <h2>A Ted Keast Product</h2>
    <p>Blocitoff is the next application from the visionary who brought you classics such as "address-bloc" and "bloccit".</p>
  </div>
</div>
